<a href="https://colab.research.google.com/github/owenbean400/AmazonSentimentAnalysis/blob/master/Anne_Turmel_Owen_Bean_Amazon_Sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Anne Turmel and Owen Bean NLP Final Project Spring 2023

Placeholder for project summary; write when writing abstract for report?

In [1]:
# imports
import os
import json
import gzip
import csv
import pandas as pd
from urllib.request import urlopen
# Data visualization
import seaborn as sns
from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(style='whitegrid')

Read in file data

In [2]:
file_name = "Movies_and_TV.csv"
data = pd.read_csv(file_name)
data.head()

,reviewerID,overall,reviewText_LUKE,reviewText
0,AHTYUW2H1276L,5.0,This movie was in <NNP>....it was a great summ...,This movie was in ENGLISH....it was a great su...
1,A1OMHX76O2NC6V,1.0,This DVD appears to be in <NNP>. It is not in ...,This DVD appears to be in German. It is not in...
2,A3603DM2201OZP,5.0,"Excellent dvd, lots of fun and great songs! <...","Excellent dvd, lots of fun and great songs! S..."
3,A3HE4QW1655VB9,5.0,My grandkids loved this and it made it easy fo...,My grandkids loved this and it made it easy fo...
4,A1CLLD4H7TYKKJ,4.0,I'm happy with my purchase,I'm happy with my purchase

In [4]:
data.shape

(19942, 4)

In [8]:
# metadata 
feat_desc = pd.DataFrame({'Description': ['ID of person who wrote the review',
                                          'Rating review gives to item',
                                          'Text of review with proper nouns masked',
                                          'Text of review unparsed'], 
                          'Values': [data[i].unique() for i in data.columns],
                          'Number of unique values': [len(data[i].unique()) for i in data.columns]}, 
                          index = data.columns)
feat_desc

,Description,Values,Number of unique values
reviewerID,ID of person who wrote the review,"[AHTYUW2H1276L, A1OMHX76O2NC6V, A3603DM2201OZP...",19544
overall,Rating review gives to item,"[5.0, 1.0, 4.0, 3.0, 2.0]",5
reviewText_LUKE,Text of review with proper nouns masked,[This movie was in <NNP>....it was a great sum...,16825
reviewText,Text of review unparsed,[This movie was in ENGLISH....it was a great s...,16919

In [9]:
data.dtypes

reviewerID          object
overall            float64
reviewText_LUKE     object
reviewText          object
dtype: object